$themeColor: red;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  background-color: aquamarine;
  color: $themeColor;
}

header {
  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        list-style-type: none;
        a {
          color: $themeColor;
          text-decoration: none;
        }
      }
    }
  }
}
