* {
  margin: 0px;
}

.container {
  width: 500px;
  height: 2000px;
  background-color: black;
}

.box {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: aqua;
}

.box2 {
  background-color: greenyellow;
  position: absolute;
  top: 0;
  right: 0;
}

.box3 {
  background-color: brown;
}
